node_modules/
.expo/
dist/
__MACOSX/

android/.gradle/
android/.idea/
android/app/.cxx/
android/app/build/
android/build/
android/local.properties

ios/Pods/
ios/build/
ios/.xcode.env.local
ios/BrightShoreMortgage.xcodeproj/project.xcworkspace/

credentials/
credentials.json
*.jks
*.pem
