__MACOSX/
dist/
node_modules
.expo/
.DS_Store
.env
.env.*
*.log
android-emulator-*.png
android-phone-*.png
.android-current-device

android/local.properties
android/.gradle/
android/app/.cxx/
android/app/build/
android/app/src/main/assets/
android/app/src/main/res/raw/
android/build/

ios/Pods/
ios/build/
ios/.xcode.env.local
ios/BrightShoreMortgage.xcodeproj/project.xcworkspace/

*.jks
*.pem
credentials/
credentials.json
